<p>
	<img style="display:inline;" src="http://csc585staging.herokuapp.com/assets/msu_arch_logo-abcd1c872ad5517291c18af25c201f28.jpg"></img>
	<h2 style="display:inline;"> Kentukey Artifact Registry</h2>
</p>

<p>Welcome <%= @email %></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
