
  <div class="Absolute-Center"> 
    <h2>Enter picture of the Artifact</h2><br>   
    <%= simple_form_for Image.new, :html => { :multipart => true } do |f| %>
      <%= f.file_field :image %>
      <%= hidden_field_tag :artifact_id, @artifact_id %>
      <%= f.button :submit, "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>